# fichiers R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# repository  "subsets"
/data/subsets

# produced html in scripts
*.html
!/docs/report_abiotic.html
!/docs/report_biotic.html

#cache des fichiers
*_cache/
*_files/